html,
body {
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
body {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}
.header,
.main__section,
.main__aside,
.footer,
.footer__section {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}
.header,
.footer {
  flex: 0 0 content;
  background-color: lightgrey;
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
.main__section {
  background-color: rgb(253, 253, 228);
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: flex-end;
}
.main__article {
  background-color: rgb(253, 237, 172);
  padding: 30px;
  margin: 10px;
  flex-basis: 30%;
  flex-grow: 1;
}
.main__aside {
  flex-grow: 1;
  background-color: rgba(178, 238, 178, 0.707);
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__section {
  padding: 30px;
  background-color: #fff;
  margin: 10px;
}
